/* Global site CSS */

/* ---------------------------------------------------
    Homepage & Carousel
----------------------------------------------------- */
#homepage {
    background-color: #240201;
}
#index-view {
    padding: 0;
}
#homepage-carousel {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

/* ---------------------------------------------------
    Header & User Btn & Cart Btn
----------------------------------------------------- */
div#navbar-container {
    padding: 0;
}
div#navbar-row {
    margin: 0;
}
.navbar {
    background: #240201;
}
div#footer-container {
    padding: 0;
    background-color: #240201;
    color: #FDEFDC;
}
#cart-btn {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    background: yellow;
    width: 56px;
    transition: all 0.3s;
    border: 0;
}
#cart-btn:hover {
    filter: brightness(80%);
    cursor: pointer;
}
#cart-btn i {
    margin: auto;
    font-size: 2em;
}
#cart-btn span {
    position: absolute;
    bottom: 6px;
    right: 6px;
    border: 2px solid yellow;
    border-radius: 999px;
    padding: 0 6px;
    color: yellow;
    background: rgba(0,0,0,0.8);
    font-size: 12px;
    font-family: Menlo, serif;
    transition: all 0.3s;
}
.navbar-placeholder {
    background: yellow;
    height: 56px;
}
button.user-btn {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    padding: 2px;
}
button.user-btn i {
    font-size: 2em;
}
button.user-btn span {
    padding: 0 8px;
}
button.no-border {
    border:0;
}

/* Drop down menu items */
.dropdown-item,
.dropdown-header
{
    font-size: 16px;
    font-weight: 400;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.dropdown-item i,
.dropdown-header i
{
    font-size: 16px;
    margin: 4px;
}

/* ---------------------------------------------------
    Modal & Colorful Input
----------------------------------------------------- */
.modal-content {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 160px 80px rgba(0,0,0,0.4);
}

.modal-dialog {
    margin-top: 100px;
}

.modal-body {
    padding: 32px;
}

.form-control.lined {
    border: 0;
    border-bottom: 2px solid Grey;
    border-radius: 0;
}

.form-control.succeed, .form-control.lined.succeed:focus {
    border: 0;
    border-bottom: 2px solid #009869;
    box-shadow: 0 4px 4px -3px rgba(0, 152, 105, 0.6);
}

.form-control.error, .form-control.lined.error:focus {
    border: 0;
    border-bottom: 2px solid #C52B1E;
    box-shadow: 0 4px 4px -3px rgba(197, 43, 30, 0.6);
}

.form-control.lined:focus {
    border: 0;
    border-bottom: 2px solid #027BFF;
    box-shadow: 0 4px 4px -3px rgba(2, 123, 255, 0.6);
}

.badge.succeed {
    color: #009869;
}

.badge.error {
    color: #C52B1E;
}

.row-form {
    margin-bottom: 32px;
}

div#login-helper {
    position: absolute;
    bottom: 0;
}

form#login-form {
    margin: 0;
}

/* ---------------------------------------------------
    Cart view
----------------------------------------------------- */
#cart-view {
    background: rgba(240,240,240,0.9);
    padding: 0;
    box-shadow: 0 0 64px grey;
}

/* Drawer use */
#cart-view {
    width: 400px;
    position: fixed;
    right: 0;
    height: 100vh;
}
#cart-view.active {
    box-shadow: 0 0 0px grey;
    margin-right: -400px;
}

#index-view {
    width: calc(100% - 400px);
    min-height: 100vh;
    position: absolute;
    left: 0;
}
#index-view.active {
    width: 100%;
}

/* Transition animation */
#cart-view,#index-view {
    transition: all 0.3s;
}

@media (max-width: 800px) {
    #cart-view {
        box-shadow: 0 0 100px black;
    }
    #cart-view.active {
        box-shadow: 0 0 0 0;
    }
    #index-view {
        width: 100%;
        filter: blur(5px);
    }
    #index-view.active {
        width: 100%;
        filter: blur(0);
    }
}

/* ---------------------------------------------------
    Cart view inside
----------------------------------------------------- */
div#cart-container {
    padding: 16px;
}

/* ---------------------------------------------------
    Search & Filter Bar
----------------------------------------------------- */
div#search-bar-container.col-2 {
    background-color: #240201;
    color: #FDEFDC;
    padding: 0;
    flex: none;
    max-width: 240px;
}
#search-bar {
    padding: 16px;
}
#search-bar li{
    list-style: none;
    text-decoration: none;
}

/* ---------------------------------------------------
    Dish list & Dish card
----------------------------------------------------- */
#dish-list-container {
    background-color: #850523;
    padding: 0;
}
#dish-list {
    padding: 16px;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    transition: all 0.3s;
}
.dish-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;

    background-color: #FDEFDC;
    border: 1px solid #dddddd;
    border-radius: 4px;
    transition: all 0.5s;
    min-height: 200px;

    font-size: 16px;
    font-weight: 500;

}
.dish-card:hover {
    background-: #fcfcfc;
    box-shadow: 0 0 16px #dddddd;
    cursor: pointer;
}
@media (max-width: 1300px){
    #dish-list {
        grid: auto / minmax(100px,600px);
    }
}
@media (min-width:1300px) and (max-width: 1600px){
    #dish-list {
        grid: auto / minmax(300px,600px) minmax(300px,600px);
    }
}
@media (min-width:1600px) {
    #dish-list {
        grid: auto / minmax(300px,600px) minmax(300px,600px) minmax(300px,600px);
    }
}