/* Global site CSS */

/* Header & User button */
button.user-btn {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    padding: 2px;
}
button.user-btn i {
    font-size: 2em;
}
button.user-btn span {
    padding: 0 8px;
}

button.no-border {
    border:0;
}

/* Drop down menu items */
.dropdown-item {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.dropdown-item i {
    font-size: 16px;
    margin: 4px;
}

/* Navigation Bar*/
.navbar {
    background: rgba(0,0,0,0.8);
}

/* Modal */
.modal-content {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 160px 80px rgba(0,0,0,0.4);
}

.modal-dialog {
    margin-top: 100px;
}

.modal-body {
    padding: 32px;
}

.form-control.lined {
    border: 0;
    border-bottom: 2px solid Grey;
    border-radius: 0;
}

.form-control.succeed, .form-control.lined.succeed:focus {
    border: 0;
    border-bottom: 2px solid #009869;
    box-shadow: 0 4px 4px -3px rgba(0, 152, 105, 0.6);
}

.form-control.error, .form-control.lined.error:focus {
    border: 0;
    border-bottom: 2px solid #C52B1E;
    box-shadow: 0 4px 4px -3px rgba(197, 43, 30, 0.6);
}


.form-control.lined:focus {
    border: 0;
    border-bottom: 2px solid #027BFF;
    box-shadow: 0 4px 4px -3px rgba(2, 123, 255, 0.6);
}


.badge.succeed {
    color: #009869;
}

.badge.error {
    color: #C52B1E;
}

.row-form {
    margin-bottom: 32px;
}

div#login-helper {
    position: absolute;
    bottom: 0;
}

form#login-form {
    margin: 0;
}

/* index */
.container-fluid {
    padding: 0;
}
.navbar-placeholder {
    height: 56px;
}

.carousel-inner {
    max-height: 400px;
}